body{
  margin: 0%;
  background: rgba(17, 17, 17);
}


.wrapper{
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

h1{
  width: 22ch;
  color: white;
  font-family: monospace;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid orange;
  animation: flashing-border 0.75s step-start infinite, printend-text 3s steps(22);

}

@keyframes flashing-border{
  0%{
    border-color: orange;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: orange;
  }
}


@keyframes printend-text{
  from{
    width: 0%;
  }

}


@media screen and (max-width: 460px){
  h1{
    font-size: 25px;
    margin-top: 50%;
  }
}

